body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 1;
  
}
#top {
    height: 150px;
    width: 100%;
}
#header {
    width: 100%;   
    height: 100px;
    background-color: #1F9FBA;
    margin-top: -15px;
    padding: 0;
}
.logo {
    margin: 29px;    
}
#header ul {
    position: relative;
    top: -137px;
    left: 300px;
    width: 760px;
}
li.home {
    margin-left: 5px;
}
#header li {
    list-style: none;
    float: left;
    background-color: #FFA200;
    border: 1px solid gray;
    padding: 24px;
    font-size: 15px;
    color: #ffffff;
    font-family: "Myriad Pro";
    text-transform: uppercase;
    width: 100px;
    height: 55px;
}
li a {
    text-decoration: none;
    padding-top: 20px;
    position: relative;
    top: 15px;
}
li a:link {
    color: #ffffff;
}
li a:visited {
    color: #ffffff;
}
li a:hover {
    color: #8c5d96;
    font-family: fantasy;
    height: 85px;
}
.home a {
    padding-left: 20px;
}
.meet a {
    padding-left: 10px;
}
.network a {
    padding-right: 5px;
}
/*header has been completed*/

#body img {
    width: 1069px;
    height: 500px;
    margin: -120px 0 0 29px;   
}
div.para {
    background-color: #E1E1E1;
    width: 1050px;
    margin:2px 29px;  
    padding: 10px;  
    line-height: 1.5em;
    letter-spacing: 1px;
    font-family: "Myriad Pro";  
}
.para>h1 {
    padding: 15px;
    text-transform: uppercase;
    color: #FFA246;
}
.section {
    width: 1050px;
    margin:2px 29px;
}
.first, .second, .third {
    float: left;
    margin: 10px;
    width: 325px;
}
.section h1 {
    font-size: 40px;
}